.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin-top: 400px;
    border: 5px solid black;
    background-color: coral;
}

.value {
    color: black;
}

.maxValue {
    color: red;
}