.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 300px 700px 300px 700px;
    border: 5px solid black;
    border-radius: 15px;
    background-color: coral;
}

.value {
    color: black;
}

.maxValue {
    color: red;
}